@font-face {
    font-family: main;
    src: url(Fonts/Aceh-Light.ttf);
}
body {
    background-color: rgba(243, 243, 243);
    border-radius: 25px;
}

.nav {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
    position: absolute;
    z-index: 2;
    
}

.nav h2 {
    color: rgba(243, 243, 243, 0.935);
    font-family: main;
}

.lg {
    margin-top: 15px;
    margin-left: 25px;
    width: 85px;

}

#item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#item li {
    list-style: none;
    margin-top: 5%;
    padding-right: 230px;
    font-family: main;
    
}

#item li a {
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: rgba(243, 243, 243, 0.935); 
}
.nav #item .c{
    text-decoration: underline;
    padding-bottom: 50px;

}

#item li a:hover {
    color: rgb(0, 134, 211);
}

.nav #item .d{
    border: 1px solid #ffffff; 
    padding: 7px 15px; 
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border-radius: 3px;

}
.nav #item .d:hover {
    color: rgb(0, 134, 211);
    border-color:  rgb(0, 134, 211);;
}



.about{
    background-color: rgb(18, 18, 31);
    width: 100%;
    align-items: center;
    height: 110vh;
    z-index: 0;
    position: absolute; 
    margin-top: -20px; 
    left: 0;
    font-family: main;
}

.email{
    color: rgb(228, 228, 228);
    font-size: 2rem;
    margin-top:13%;
    margin-left: 22%;
}
.else{
    color: rgb(228, 228, 228);
    font-size: 2rem;

    margin-left: 22%;
}



.MT{
    position: absolute;
    margin-left: 42%;
}



